USE [master]
GO
/****** Object:  Database [ECC0]    Script Date: 19/08/2021 15:02:19 ******/
CREATE DATABASE [ECC0]
GO
USE [ECC0]
GO
/****** Object:  User [USUARIO]    Script Date: 19/08/2021 15:02:20 ******/
CREATE USER [USUARIO] FOR LOGIN [USUARIO] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [USUARIO]
GO
/****** Object:  Table [dbo].[CUENTA]    Script Date: 19/08/2021 15:02:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUENTA](
	[NRO_CUENTA] [nvarchar](14) NOT NULL,
	[COD_SUCURSAL] [char](3) NOT NULL,
	[TIPO] [char](3) NOT NULL,
	[MONEDA] [char](3) NOT NULL,
	[NOMBRE] [nvarchar](40) NOT NULL,
	[SALDO] [decimal](12, 2) NULL,
 CONSTRAINT [PK_CUENTA] PRIMARY KEY CLUSTERED 
(
	[NRO_CUENTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONEDA]    Script Date: 19/08/2021 15:02:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONEDA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MONEDA] [char](3) NOT NULL,
	[DESCRIPCION] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_MONEDA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOVIMIENTO]    Script Date: 19/08/2021 15:02:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOVIMIENTO](
	[NRO_CUENTA] [nvarchar](14) NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[TIPO] [nvarchar](1) NOT NULL,
	[IMPORTE] [decimal](12, 2) NOT NULL,
 CONSTRAINT [PK_MOVIMIENTO] PRIMARY KEY CLUSTERED 
(
	[FECHA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUCURSAL]    Script Date: 19/08/2021 15:02:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUCURSAL](
	[COD_SUCURSAL] [char](3) NOT NULL,
	[NOMBRE_SUCURSAL] [varchar](50) NOT NULL,
 CONSTRAINT [PK_SUCURSAL] PRIMARY KEY CLUSTERED 
(
	[COD_SUCURSAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_CAMBIO]    Script Date: 19/08/2021 15:02:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_CAMBIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MonedaID] [int] NULL,
	[VALOR] [decimal](18, 2) NOT NULL,
	[FECHA_TIPO_CAMBIO] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_TIPO_CAMBIO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MOVIMIENTO_CuentaNRO_CUENTA]    Script Date: 19/08/2021 15:02:20 ******/
CREATE NONCLUSTERED INDEX [IX_MOVIMIENTO_CuentaNRO_CUENTA] ON [dbo].[MOVIMIENTO]
(
	[NRO_CUENTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TIPO_CAMBIO_MonedaID]    Script Date: 19/08/2021 15:02:20 ******/
CREATE NONCLUSTERED INDEX [IX_TIPO_CAMBIO_MonedaID] ON [dbo].[TIPO_CAMBIO]
(
	[MonedaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CUENTA]  WITH CHECK ADD FOREIGN KEY([COD_SUCURSAL])
REFERENCES [dbo].[SUCURSAL] ([COD_SUCURSAL])
GO
ALTER TABLE [dbo].[MOVIMIENTO]  WITH CHECK ADD  CONSTRAINT [FK_MOVIMIENTO_CUENTA_CuentaNRO_CUENTA] FOREIGN KEY([NRO_CUENTA])
REFERENCES [dbo].[CUENTA] ([NRO_CUENTA])
GO
ALTER TABLE [dbo].[MOVIMIENTO] CHECK CONSTRAINT [FK_MOVIMIENTO_CUENTA_CuentaNRO_CUENTA]
GO
ALTER TABLE [dbo].[TIPO_CAMBIO]  WITH CHECK ADD  CONSTRAINT [FK_TIPO_CAMBIO_MONEDA_MonedaID] FOREIGN KEY([MonedaID])
REFERENCES [dbo].[MONEDA] ([ID])
GO
ALTER TABLE [dbo].[TIPO_CAMBIO] CHECK CONSTRAINT [FK_TIPO_CAMBIO_MONEDA_MonedaID]
GO
/****** Object:  StoredProcedure [dbo].[ACTUALIZADO_SALDOCUENTA]    Script Date: 19/08/2021 15:02:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ACTUALIZADO_SALDOCUENTA](@NUMERO_CUENTA nvarchar(14))
AS
update [dbo].[CUENTA] set SALDO=(select sum(A.importe) from(
select NRO_CUENTA,
CASE
                WHEN 
				TIPO='A'
                    THEN IMPORTE
                ELSE IMPORTE*(-1)
            END AS importe
from [dbo].[MOVIMIENTO] where NRO_CUENTA=@NUMERO_CUENTA
)A
GROUP BY NRO_CUENTA)
where NRO_CUENTA=@NUMERO_CUENTA
GO
USE [master]
GO
